node_modules
.expo
.git
dist
build
web-build

android/.gradle
android/build
android/app/build

ios/build

*.log
npm-debug.*
yarn-debug.*
yarn-error.*

coverage
tmp
temp

.vscode
.idea

*.keystore
*.jks

.DS_Store
Thumbs.db